/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* IMG RESET */
img {
    width: 100%;
}

body {
    background: linear-gradient(
        to bottom,
        hsl(174.4deg 100% 29.41%) 20%,                                                                 
        hsl(60deg 10% 84.31%) 10%
    );
    height: 100vh;
    width: 100%;
}

.container {
   width: 80%;
   margin: 0 auto;
   margin-top: 30px;
}

.row {
    display: flex;
}

.col-small {
    /* Debug */
    background-color: blueviolet;
    height: 500px;
    width: 400px;
    padding: .5rem;
}

.col-large {
    /* Debug */
    background-color: chartreuse;
    height: 500px;
    width: 800px;
    padding: .6rem;
}

@media screen and (max-width: 376px ) {
    .col-small {
        display: none;
    }

}

@media screen and (max-width: 426px ) {
    .container{
        width: 100%;
        margin: 0;
    }

    .col-small {
        width: 70%;
         /* Debug */
         height: 600px;
    }

    .col-large {
        /* Debug */
        height: 600px;
    }

    .notifications{
        display: none;
    }

    .search-bar {
        display: none;
    }

}


/* CONTACT-CHAT SECTION */

/* HEADEAR CONTACT */
.contact-head {
   background-color: hsl(0deg 0% 91.76%);
   /* Debug */
   height: 50px;
}

/* NOTIFICATIONS */
.notifications {
    background-color: hsl(198.55deg 94.83% 77.25%);
    /* Debug */
    height: 50px;
}

/* SEARCH-BAR */
.search-bar {
    background-color: white;
    /* Debug */
    height: 20px;
    padding: .7rem;
    border-radius: .5rem;
    margin-top: 10px;
}

/* CONTACT LIST */
.contact-list {
    background-color: white;
    list-style: none;
     /* Debug */
     height: 40px;
     margin-top: 10px;
}

/* CONTACT-CHAT SECTION */

/* CHAT SECTION */

/* CHAT HEAD-BAR */

/* MAIN */
.main-chat {
    background-image: url(../img/mine.jpg);
    /* Debug */
    height: 400px;
}
/* MAIN CHAT */

/* FOOTER */

/* FOOT-BAR */
.foot-bar {
    background-color: hsl(26.67deg 27.27% 93.53%);
    /* Debug */
    height: 35px;
}

/* CHAT SECTION */
