/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* IMG RESET */
img {
    width: 100%;
}

body {
    background: linear-gradient(
        to bottom,
        hsl(174.4deg 100% 29.41%) 20%,                                                                 
        hsl(60deg 10% 84.31%) 10%
    );
    height: 100vh;
    width: 100%;
}

.container {
   width: 80%;
   margin: 0 auto;
   margin-top: 30px;
}

.row {
    display: flex;
}

.col-small {
    background-color: blueviolet;
    height: 500px;
    width: 400px;
}

.col-large {
    background-color: chartreuse;
    height: 500px;
    width: 800px;
}

@media screen and (max-width: 376px ) {
    .col-small {
        display: none;
    }
}

--------------------------
/* CONTACT-CHAT SECTION */
--------------------------
/* HEADEAR CONTACT */

/* NOTIFICATIONS */

/* SEARCH-BAR */

/* CONTACT LIST */

--------------------------
/* CONTACT-CHAT SECTION */
--------------------------

-------------------
/* CHAT SECTION */
-------------------
/* CHAT HEAD-BAR */

/* MAIN */

/* MAIN CHAT */

/* FOOTER */

/* FOOT-BAR */

-------------------
/* CHAT SECTION */
-------------------