/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* IMG RESET */
img {
    width: 100%;
}

.background {
    background: linear-gradient(
        to bottom,
        hsl(174.4deg 100% 29.41%) 20%,                                                                 
        hsl(60deg 10% 84.31%) 10%
    );
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
   width: 80%;
   height: 90%;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}

.col-small {
    width: 40%;
}

.col-large {
    width: 80%;
}

@media screen and (max-width: 376px ) {
    .col-small {
        display: none;
    }

    .col-large{
        width: 100%;
        height: 100%;
    }

}

@media screen and (max-width: 540px ) {
    .container {
        width: 100%;
    }

    .col-small {
        width: 15%; 
    }

    .col-large {
        width: 100%;
    }

    .search-bar {
        display: none;
    }

}


/* CONTACT-CHAT SECTION */

/* HEADEAR CONTACT */
.contact-head {
   background-color: hsl(0deg 0% 91.76%);
   height: 50px;
   width: 100%;
   border: 1px solid hsl(0deg 0% 86.27%);
}

.avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: .5rem;
}

.icon-btn {
    background: none;
	color: inherit;
	border: none;
}

.icons {
    display: flex;
    gap: .5rem;
}

@media screen and (max-width: 540px) {
    .icons,
    .icon-btn,
    .notifications-text,
    .activate-not {
        display: none;
    }

    .contact-head {
        width: 98%;
    }

    .avatar-io {
       margin-left: 5px;
    }
}

/* NOTIFICATIONS */
.notifications {
    background-color: hsl(198.55deg 94.83% 77.25%);
    height: 60px;
    display: flex;
}

.white-bg {
    border-radius: 50%;
    width: 50px;
    height: 30px;
    background-color: white;
    margin: 10px;
}

.activate-not {
    color:hsl(198.26deg 28.4% 52.35%) ;
}

.notifications-text,.activate-not {
   padding: .2rem;
   font-size: 14px;
   margin-top: 5px;
}

@media screen and (max-width: 540px) {
    .notifications {
        display: none;
    }
}

/* SEARCH-BAR */
.search-bar {
    background-color: hsl(0deg 0% 100%);
    height: 30px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.search-control{
    background-color: white;
    width: 100%;
    padding: 3px 5px;
    border: 1px solid black;
    display: flex;
    align-items: center;
}

.search-control input {
    border: 0;
    padding: 5px;
}

.search-control input:focus-visible {
    outline: none;
}

@media  screen and (max-width: 540px) {
    .search-bar{
        display: none;
    }
}

/* CONTACT LIST */
.contact {
    overflow-y: scroll;
}
.contact-list {
    background-color: white;
    list-style: none;
    height: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: .2rem;
}

.lorem,.text {
    font-size: 15px;
    color: hsl(210deg 10.53% 77.65%);
}

.text {
    font-size: 10px;
    color: hsl(210deg 10.53% 77.65%);
}

@media  screen and (max-width: 540px) {
    .contact-info,.lorem,.text{
        display: none;
    }
}

/* CONTACT-CHAT SECTION */

/* CHAT SECTION */

/* CHAT HEAD-BAR */
.text-head {
    margin-right: 220px;
}
/* MAIN */
.main-chat {
    background-image: url(../img/mine.jpg);
    height: 417px;
}
/* MAIN CHAT */

/* FOOTER */

/* FOOT-BAR */
.foot-bar {
    background-color: hsl(26.67deg 27.27% 93.53%);
    height: 33px;
}

/* CHAT SECTION */
